<div class="card">
        <div class="col-12 p-0">
            <!--            <p-messages [value]="msgs"></p-messages>-->
            <div class="formgroup-inline">
                <button pButton label="Dodaj zgłoszenie" type="submit" (click)="openAddComplaintModal();"></button>
            </div>
        </div>

    <div class="col-12 p-0">
            <h5>Row Expand</h5>
            <p-toast></p-toast>
            <p-table [value]="complaints" dataKey="name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
<!--                <ng-template pTemplate="caption">-->
<!--                    <button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>-->
<!--                    <div class="flex table-header">-->
<!--                    </div>-->
<!--                </ng-template>-->
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 1rem"></th>
                        <th pSortableColumn="name">Numer faktury</th>
                        <th pSortableColumn="price">Data zgłoszenia</th>
                        <th pSortableColumn="category">Data odpowiedzi</th>
                        <th pSortableColumn="rating">Data zakupu</th>
                        <th pSortableColumn="rating">Kod produktu</th>
                        <th pSortableColumn="rating">Kontrahent</th>
                        <th pSortableColumn="rating">Kategoria</th>
                        <th pSortableColumn="rating">Dostawca</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-complaint let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="complaint" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td style="min-width: 12rem;">{{complaint.factureId}}</td>
                        <td style="min-width: 12rem;">{{complaint.dataOfReport}}</td>
                        <td style="min-width: 12rem;">{{complaint.dataOfReportAnswer}}</td>
                        <td style="min-width: 12rem;">{{complaint.dateOfPurchase}}</td>
                        <td style="min-width: 12rem;">{{complaint.productCode}}</td>
                        <td style="min-width: 12rem;">{{complaint.contractorEntity.contractorName}}</td>
                        <td style="min-width: 12rem;">{{complaint.categoryEntity.category}}</td>
                        <td style="min-width: 12rem;">{{complaint.providerEntity.nameOfProvider}}</td>
                    </tr>
                </ng-template>
<!--                <ng-template pTemplate="rowexpansion" let-product>-->
<!--                    <tr>-->
<!--                        <td colspan="7">-->
<!--                            <div class="p-3">-->
<!--                                <p-table [value]="product.orders" dataKey="id" responsiveLayout="scroll">-->
<!--                                    <ng-template pTemplate="header">-->
<!--                                        <tr>-->
<!--                                            <th pSortableColumn="id">Id <p-sortIcon field="price"></p-sortIcon></th>-->
<!--                                            <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon></th>-->
<!--                                            <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>-->
<!--                                            <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon></th>-->
<!--                                            <th pSortableColumn="stats">Status <p-sortIcon field="status"></p-sortIcon></th>-->
<!--                                            <th style="width: 4rem"></th>-->
<!--                                        </tr>-->
<!--                                    </ng-template>-->
<!--                                    <ng-template pTemplate="body" let-order>-->
<!--                                        <tr>-->
<!--                                            <td>{{order.id}}</td>-->
<!--                                            <td>{{order.customer}}</td>-->
<!--                                            <td>{{order.date}}</td>-->
<!--                                            <td>{{order.amount | currency:'USD'}}</td>-->
<!--                                            <td><span [class]="'order-badge order-' + order.status.toLowerCase()">{{order.status}}</span></td>-->
<!--                                            <td><p-button type="button" icon="pi pi-search"></p-button></td>-->
<!--                                        </tr>-->
<!--                                    </ng-template>-->
<!--                                    <ng-template pTemplate="emptymessage">-->
<!--                                        <tr>-->
<!--                                            <td colspan="6">There are no order for this product yet.</td>-->
<!--                                        </tr>-->
<!--                                    </ng-template>-->
<!--                                </p-table>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </ng-template>-->
            </p-table>
        </div>
</div>

<p-dialog [(visible)]="complaintDialog" [style]="{width: '1150px', height: '600px'}"  header="Utwórz nową reklamację" [modal]="true" class="p-fluid">

    <ng-template pTemplate="content">
        <div class="col-12 p-0">
            <p-messages [value]="msgs"></p-messages>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="grid p-fluid mt-3">
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                  <input
                      type="text"
                      id="factureId"
                      pInputText
                      formControlName="factureId"
                  />
                  <label for="factureId">Numer faktury</label>
                </span>
                    </div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-calendar
                        inputId="dateOfReport"
                        (onSelect)="updateResponseDate()"
                        formControlName="dateOfReport"
                    ></p-calendar>
                <label for="dateOfReport">Data zgłoszenia</label>
                </span>
                    </div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-calendar
                        inputId="dateOfReport"
                        formControlName="dateOfPurchase"
                    ></p-calendar>
                <label for="dateOfPurchase">Data zakupu</label>
                </span>
                    </div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                  <input
                      type="text"
                      id="productCode"
                      pInputText
                      formControlName="productCode"
                  />
                  <label for="productCode">Kod produktu</label>
                </span>
                    </div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-dropdown inputId="contractor"
                                [autoDisplayFirst]="false"
                                [options]="contractors"
                                optionLabel="contractorName"
                                class="ng-dirty"
                                (onChange)="onContractorChange($event)"
                    ></p-dropdown>
                    <label for="contractor">Kontrahent</label>
                </span>
                    </div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-dropdown inputId="category"
                                [autoDisplayFirst]="false"
                                [options]="categories"
                                optionLabel="category"
                                class="ng-dirty"
                                (onChange)="onCategoryChange($event)"
                    ></p-dropdown>
                    <label for="category">Kategoria produktu</label>
                </span>
                    </div>

                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-dropdown inputId="providerEntity"
                                [autoDisplayFirst]="false"
                                [options]="providers"
                                optionLabel="nameOfProvider"
                                class="ng-dirty"
                                (onChange)="onProviderChange($event)"
                    ></p-dropdown>
                    <label for="providerEntity">Dostawca</label>
                </span>
                    </div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                    <p-calendar
                        inputId="dateOfReportAnswer"
                        formControlName="dateOfReportAnswer"
                        [disabled]="true"
                    ></p-calendar>
                <label for="dateOfReportAnswer">Data odpowiedzi</label>
                </span>
                    </div>
                    <div class="col-12">Sekcja opcjonalna</div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                  <input
                      type="text"
                      id="username"
                      pInputText
                      formControlName="username"
                  />
                  <label for="username">Imię</label>
                </span>
                    </div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                  <input
                      type="text"
                      id="surname"
                      pInputText
                      formControlName="surname"
                  />
                  <label for="surname">Nazwisko</label>
                </span>
                    </div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                  <input
                      type="text"
                      id="phoneNumber"
                      pInputText
                      formControlName="phoneNumber"
                  />
                  <label for="phoneNumber">Numer telefonu</label>
                </span>
                    </div>
                    <div class="field col-12 md:col-3">
                <span class="p-float-label">
                  <input
                      type="text"
                      id="email"
                      pInputText
                      formControlName="email"
                  />
                  <label for="email">Email</label>
                </span>
                    </div>
                </div>
                <button pButton label="Utwórz reklamację" type="submit"></button>
            </form>
        </div>
    </ng-template>
</p-dialog>
